<nav class="navbar navbar-light navbar-expand-md sticky-top" style="background-color: #a3d4a4;">
  <div class="container-fluid">
    <div routerLink='/home'>
      <img src="/assets/image/logoGryFinal.png" style="width: 100px;">
    </div>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1" style="width: 100px;">
      <ul class="nav navbar-nav">
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"></li>
      </ul><buttom class="btn ml-4 mr-4" routerLink='/about' style="color: black;">¿Quiénes somos?</buttom>
      <a href="" routerLink='/challenges' style="color: black;">&nbsp; Retos Diarios</a>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><button class="btn btn-outline mr-4" data-toggle="modal" data-target="#signup" type="button" style="border-color: #cce4c4;color: black;background-color: #cce4c4;">Iniciar sesión</button></li>
        <li class="nav-item" role="presentation"><button class="btn btn-primary" data-toggle="modal" data-target="#signin" type="button" style="background-color: #d6e48f;color: black;">Regístrarte</button></li>
      </ul>
    </div>
  </div>
</nav>
