<nav class="navbar navbar-ligth navbar-expand-md sticky-top navS">
  <div class="container-fluid">
    <div routerLink='/ingreso'>
      <img width="68" alt="GRY" src="../assets/image/logoGry.png"/>
    </div>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">¿Quiénes somos?</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Soporte Tecnico</a></li>
        <li class="nav-item" role="presentation"></li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><button class="btn btn-outline mr-3" data-toggle="modal" data-target="#signup" type="button" style="border-color: #cce4c4;color: black;background-color: #cce4c4;">Iniciar sesión</button></li>
        <li class="nav-item" role="presentation"><button class="btn mt-2" data-toggle="modal" data-target="#signin" type="button" style="background-color: #d6e48f;color: black;">Regístrarte</button></li>
      </ul>
    </div>
  </div>
</nav>
