<app-navbar></app-navbar>
  <!-- End: Article Dual Column -->
  <!-- Start: animated-services -->
  <section id="services" class="services">
    <div class="container-md section-title">
      <div class="text-center">
        <p class="d-inline-block" style="width: 50%;">
          <br><br><br>La App que busca fomentar que los usuarios se movilicen<br>hasta un establecimiento, pero en un medio de transporte alternativo como:<br>bicicletas, patinetas eléctricas o caminatas.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <br><br>Mostraremos los lugares turísticos y comerciales cercanos a<br>nuestra ubicación como restaurantes y hoteles con recomendaciones, promociones<br>y lugares destacados y nos otorgará recompensas al cumplir metas que podremos<br>intercambiar,
          si se cumple con satisfacción estos retos de acumulación de<br>kilómetros, se podrán obtener recompensas que incluyen desde descuentos en<br>artículos específicos e incluso obtener artículos gratis.<br><br><br><br><br><br>&nbsp; &nbsp;&nbsp;
        </p>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <h2>&nbsp; &nbsp; &nbsp; &nbsp; ¿Quiéres ser parte de Gry?</h2>
        </div>
      </div>
      <br />
      <br />

      <div class="d-flex justify-content-center">
        <div class="row">
          <div class="col-12 text-center  d-flex ">
            <div class="text-center icon-box">
              <div class="icon">
                <i class="" style="margin-bottom: 15px;"><i class="fas fa-spa"></i></i>
                <h4 class="title">GRYstore<a href="#"></a></h4>
                <p class="description">Los usuarios que desean comprometerse a reducir la huella de carbono caminando, o con un medio de transporte amigable, hasta los lugares de destino, en vez de usar un automóvil.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-12 text-center d-flex ">
            <div class="text-center icon-box">
              <div class="icon">
                <i class="" style="margin-bottom: 15px;"><i class="fas fa-seedling"></i></i>
                <h4 class="title">GRYnners<a href="#"></a></h4>
                <p class="description">
                  Empresas que forman parte de la comunidad.
                  Ejm: locales de comida,emprendimientos de productos organicos, especialistas en el medio ambiente.<br>&nbsp; &nbsp; &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End: animated-services -->
  <!-- Start: Testimonials -->
  <div class="testimonials-clean">
    <div class="container">
      <!-- Start: Intro -->
      <div class="intro"></div>
      <!-- End: Intro -->
    </div>
  </div>
