<div class="features-blue">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">
        Encontremos juntos a Gry.
        Sé parte de esta nueva aventura ...
      </h2>
      <p class="text-center"></p>
    </div>
    <div class="row features">
      <div class="col-sm-6 col-md-4 item">
        <i class="fa fa-map-marker icon"></i>
        <h3 class="name">Buscar locales o restaurantes cercanos</h3>
        <p class="description">Irás caminando a muchos sitios en búsqueda del pequeño circulo gry. El cual representa a nuestro planeta, esta gris esta triste.</p>
      </div>
      <div class="col-sm-6 col-md-4 item">
        <i class="fa fa-clock-o icon"></i>
        <h3 class="name">tiempo</h3>
        <p class="description">A partir desde que comiences un reto, no puedes detenerte por más de 15min porque te quedas sin puntos.</p>
      </div>
      <div class="col-sm-6 col-md-4 item">
        <i class="fa fa-star icon"></i>
        <h3 class="name">Descuentos</h3>
        <p class="description">Si cumples los objetivos diarios de pasos, muchos de nuestros socios claves te darán descuentos o sorpresas.</p>
      </div>
    </div>
  </div>
</div>
