<div class="article-list">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Retos Diarios</h2>
          <p class="text-center">Completa cada sección de retos para acceder a nuevas recompensas.&nbsp;</p>
      </div>
      <div class="row">
          <div class="col-md-12">
              <h3 class="name">Logros</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div style="margin:46px;"><div class="row row-striped">
<div class="col-2 text-center">
  <h1 class="display-4"><span class="badge badge-grey">30</span></h1>
  <h2>AGO</h2>
</div>
<div class="col-10">
  <h3 class="text-uppercase"><strong>Semana 1</strong></h3>
  <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>  Del 23 - 30</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>

  </ul>
  <p>Completa por lo menos 30 km recorridos en cualquier medio de transporte alternativo y gana el 5% de descuento en alguno de nuestros almacenes participantes</p>

          <div class="progress">
            <div class="progress-bar bg-danger " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
              </div>
          </div>
</div>
</div><div class="row row-striped">
<div class="col-2 text-center ">
  <h1 class="display-4 "><span class="badge date-green">6</span></h1>
  <h2>SEP</h2>
</div>
<div class="col-10">
  <h3 class="text-uppercase"><strong>Semana 2</strong></h3>
  <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Del 31 - 6</li>
    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i></li>
  </ul>
  <p>En esta semana podras llegar al acumulado de 50 Km recorridos y podras obtener 10% de descuento en nuestos almacenes participantes</p>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">5%
              </div>
          </div>
</div>
</div><div class="row row-striped">
<div class="col-2 text-center">
  <h1 class="display-4"><span class="badge badge-grey">13</span></h1>
  <h2>SEP</h2>
</div>
<div class="col-10">
  <h3 class="text-uppercase"><strong>Semana 3</strong></h3>
  <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Del 31 - 6</li>
    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i></li>
  </ul>
  <p>En la semana 3 de nuestros retos podras llegar al acumulado de 70 Km recorridos y obtener 20% de descuento en nuestos almacenes participantes</p>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 3%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">3%
              </div>
          </div>
</div>
</div></div>
          </div>
      </div>
  </div>
</div>
